---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import { BASE_URL } from "../consts";
---

<header>
  <nav>
    <h2><a href={BASE_URL}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href={BASE_URL}>Home</HeaderLink>
      <HeaderLink href={`${BASE_URL}blog`}>Blog</HeaderLink>
    </div>
    <div class="social-links">
      <a
        href="https://github.com/lorenzobaronio22"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Visit Lorenzo Baronio on GitHub</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a>
      <a
        href="https://www.linkedin.com/in/lorenzobaronio/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Visit Lorenzo Baronio on LinkedIn</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.473 0 16 .513 16 1.146v13.708c0 .633-.527 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 13.408V6.169H2.542v8.385h2.401zM3.744 5.024c.837 0 1.358-.554 1.358-1.248-.015-.709-.521-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.328 1.248h.015zm4.885 9.53V9.873c0-.25.018-.5.092-.679.2-.5.656-1.018 1.423-1.018 1.004 0 1.405.768 1.405 1.893v4.485h2.401V9.792c0-2.55-1.359-3.736-3.169-3.736-1.46 0-2.113.804-2.48 1.37h.031V6.169H5.932c.03.832 0 8.385 0 8.385h2.697z"
          ></path></svg
        >
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
